# Core
fastapi
uvicorn
httpx
python-dotenv
pydantic
aiofiles
loguru
gspread
oauth2client
httpx
fastapi
python-dotenv

# Resume Parsing
PyMuPDF
pdfplumber
python-magic
pyresparser
nltk
spacy
spacy==3.7.2
pyresparser


# Google Sheets/Drive Integration
gspread
google-auth
google-api-python-client

# Web Scraping
beautifulsoup4
lxml
requests
aiohttp
duckduckgo-search

# Task Scheduling / Background Jobs
celery
APScheduler

# Database (if needed later)
sqlalchemy
